.project-header {
  margin-top: 250px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  row-gap: 20px;
}

h1 {
  font-family: Nuqun, Arial, sans-serif;
  font-size: 300px;
  font-weight: normal;
  line-height: 60%;
}

body {
  background: var(--bg-color);
}

.nuqun-demonstration {
  font-family: nuqun, Arial, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto 120px;
}

.nuqun-demonstration object {
  width: 100%;
  height: 100%;
}

.preview {
  display: block;
  font-family: nuqun, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  line-height: 70%;
}

.preview:focus {
  outline: 0px solid transparent;
  border: none;
}

@media (max-width: 1200) {
  .nuqun-demonstration {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .nuqun-demonstration {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .preview {
    width: 100%;
    font-size: 120px;
  }

  h1 {
    font-size: 140px;
    max-width: 100%;
  }

  .project-header {
    margin-top: 120px;
  }
}
