.color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
  border-radius: 20px;
  overflow: hidden;
  
  font-weight: normal;
  font-feature-settings: "tnum";
}

.color:first-child {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding: 20px;
}

.color:first-child > span {
  opacity: 100%;
}

.color-container:hover .color:first-child:not(:hover) {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: 20px 0;
}

.color-container:hover .color:first-child:not(:hover) > span {
  opacity: 0;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  overflow: hidden;
}

.color:hover {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding: 20px;
}

.color:hover > span {
  opacity: 100%;
}

.color > span {
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  margin: 0;
  opacity: 0;
}

.color > span:nth-child(1)::before,
.color > span:nth-child(2)::before,
.color > span:nth-child(3)::before {
  opacity: 60%;
  text-transform: uppercase;
}

.color > span:not(:nth-child(4))::before {
  display: inline-block;
  opacity: 60%;
  width: 55px;
  margin-right: 10px;
}

.color > span:nth-child(1)::before {
  content: "HEX";
}

.color > span:nth-child(2)::before {
  content: "RGB";
}

.color > span:nth-child(3)::before {
  content: "CMYK";
}

.color > span:nth-child(4) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  font-weight: bold;
}

@media (max-width: 800px) {
  .color-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 60vh;
  }

  .color {
    padding: 0 20px;
  }

  .color:hover {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .color-container:hover .color:first-child:not(:hover) {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0 20px;
  }
}