.color-palette-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.color-title {
  grid-column: span 5;
  font-weight: bold;
}

.color-model {
  opacity: 60%;
  text-transform: uppercase;
  width: 55px;
}

.color-spec {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: var(--gap-detail);

  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.color-value {
  font-feature-settings: "tnum";
  text-align: start;
  width: 33px;
}

.hex-value {
  grid-column: span 4;
  text-align: start;
}

.color {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.color-spec {
  opacity: 0;
  margin: var(--gap-main) 0;
  
  font-weight: normal;
  font-size: var(--minor-font-size);
  line-height: 1;
}

.color.expand {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.color.expand .color-spec {
  opacity: 100%;
  margin: var(--gap-main) var(--gap-block);
}

@media (max-width: 800px) {
  .color-palette-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }

  .color-spec {
    margin: auto var(--gap-block);
  }

  .color-model {
    width: 44px;
  }

  .color-value {
    width: 27px;
  }
}