.font-demonstration-container {
  display: flex;
  gap: 20px;
}

.font-demonstration {
  display: flex;
  gap: 12px;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  background-color: #f2f3f5;
  background-color: var(--bg-accent-color);
}

.font-demonstration .font-name {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.font-demonstration p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: auto;

  -webkit-mask: linear-gradient(to right black 70%, transparent 100%);
  mask: linear-gradient(to right black 70%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background: linear-gradient(to right, var(--txt-color, #f2f3f5) 70%, transparent 100%);
  background-clip: text;
  color: #00000000;
  color: transparent;
}

.font-demonstration-container + .font-demonstration-container {
  margin-top: -20px;
}

@media (max-width: 800px) {
  .font-demonstration-container {
    flex-direction: column;

    width: 100vw;
    max-width: 1920px;
    align-self: center;
  }

  .font-demonstration {
    border-radius: 0;
  }
}
