.full-screen-media {
  width: 100vw;
  max-width: 1920px;
  position: relative;
  align-self: center;
}

.full-screen-media + .full-screen-media {
  margin-top: calc(0px - var(--gap-main));
}

.long-image {
  height: 100vh;
  width: 100vw;
  align-self: center;
}

.long-image img {
  height: 100%;
} 
