.logo-demonstration {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  overflow: hidden;
}

.logo-demonstration div {
  display: flex;
  padding: 40px;
  max-height: 100vh;
  position: relative;
}

.logo-demonstration div object,
.logo-demonstration div svg {
  width: 100%;
  height: 100%;
}

.logo-demonstration div > a,
.logo-demonstration div p {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  cursor: pointer;
  opacity: 0;
  text-align: center;
  line-height: 70%;
}

.logo-demonstration div:hover > a,
.logo-demonstration div:hover p {
  opacity: 1;
}

.logo-demonstration .big {
  flex: 0 0 100%;
}

.logo-demonstration .small {
  flex: 0 0 50%;
}

@media (max-width: 800px) {
  .logo-demonstration .small {
    flex: 0 0 100%;
  }

  .logo-demonstration div {
    padding: 10px;
  }

  .logo-demonstration {
    width: 100vw;
    max-width: 1920px;
    align-self: center;
    border-radius: 0;
  }
}