#sticky-footer {
  width: 100%;
  position: fixed;
  z-index: 30;
  bottom: 0;
  opacity: 0%;
  transition: var(--transition-quick);
  pointer-events: none;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

#sticky-footer.isvisible {
  opacity: 100%;
  pointer-events: all;
}

.sticky-footer-link {
  display: block;
  opacity: 30%;
  transition: var(--transition-quick);
  cursor: pointer;
}

.sticky-footer-link span {
  color: var(--txt-color);
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#sticky-footer.isvisible .sticky-footer-link:hover {
  opacity: 100%;
}

@media (max-width: 800px) {
  #sticky-footer {
    display: none;
  }
}
