.project-header {
  margin-top: 220px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

h1 {
  font-family: Melectron, Arial, sans-serif;
  color: #bee2eb;
  font-size: 250px;
  font-weight: normal;
  line-height: 60%;
}

body {
  background: -o-radial-gradient(
    at top,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 20, 14, 1) 100%
  );
  background: radial-gradient(
    at top,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 20, 14, 1) 100%
  );
  color: #f2f3f5;
  color: var(--white);
  overflow: hidden;
}

.melectron-demonstration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Melectron, Arial, sans-serif;
  color: #bee2eb;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.melectron-demonstration span {
  -webkit-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  vertical-align: baseline;
  font-size: 100%;
}

.melectron-demonstration span:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.melectron-demonstration .orbit {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  max-height: 150%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hlink::after {
  background: #bee2eb;
}

.preview {
  font-family: Melectron, Arial, sans-serif;
  color: #bee2eb;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  text-align: center;
  display: inline-block;
  line-height: 1;
}

.preview.no-connection {
  font-variant: none;
}

.preview:focus {
  outline: 0px solid transparent;
  border: none;
}

@media (max-width: 800px) {
  .melectron-demonstration {
    width: 100%;
  }
  .preview {
    width: 100%;
    font-size: 80px;
  }

  .melectron-demonstration span {
    font-size: 100px;
  }

  .melectron-demonstration .orbit {
    width: 200vw;
  }

  h1 {
    font-size: 100px;
    max-width: 100%;
  }

  header {
    margin-top: 120px;
  }
}
