.nuqun-font {
  font-family: Nuqun;
}

.project-header {
  padding: 40px;
}

.project-header h1 {
  font-weight: normal;
  line-height: 80%;
  font-size: 192px;
}

@media (max-width: 800px) {
  .project-header h1 {
    font-size: 96px;
  }
}