body {
  overflow: hidden;
}

header {
  display: block;
}

header > object {
  position: relative;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 800px) {
  header > object {
    width: 120vw;
  }
}
