@font-face {
  font-family: Noah;
  font-weight: normal;
  src: url(Noah-Regular.ttf);
}

@font-face {
  font-family: Noah;
  font-weight: bold;
  src: url(Noah-Bold.ttf);
}

@font-face {
  font-family: Noah;
  font-style: italic;
  src: url(Noah-Italic.ttf);
}

@font-face {
  font-family: Noah;
  font-weight: bold;
  font-style: italic;
  src: url(Noah-Bold-Italic.ttf);
}

@font-face {
  font-family: Morfin;
  src: url(MorfinSans-Regular.ttf);
}

@font-face {
  font-family: Melectron;
  src: url(Melectron-Regular.otf);
}

@font-face {
  font-family: Nuqun;
  src: url(Nuqun-Regular.otf);
}

@font-face {
  font-family: Edwardian;
  src: url(Edwardian-Script.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: lighter;
  src: url(Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url(Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: Kosko;
  font-weight: bold;
  src: url(Kosko-Bold.otf);
}

@font-face {
  font-family: Fira;
  font-weight: bold;
  src: url(FiraSans-Ultra.otf);
}

@font-face {
  font-family: Manrope;
  font-weight: bold;
  src: url(Manrope-SemiBold.otf);
}

@font-face {
  font-family: Intro;
  font-weight: normal;
  src: url(Intro.otf);
}

@font-face {
  font-family: "Magnet Trial";
  font-weight: bold;
  src: url();
}

@font-face {
  font-family: "Cocogoose Classic";
  src: url();
}

@font-face {
  font-family: Pecita;
  src: url();
}
