.pecita-font {
  font-family: Pecita, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.magnet-trial-font {
  font-family: "Magnet Trial", Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.cocogoose-classic-font {
  font-family: "Cocogoose Classic", Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.full-screen-header {
  justify-content: center;
}

.ohmt-tag-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.full-screen-block {
  position: relative;
}

.ohmt-footer {
  width: 100%;
  /* height: 100%; */
}

.ohmt-header {
  background-color: #962D27;
}

.video-demonstration {
  background-image: url();
}

.ohmt-icon {
  position: absolute;
  height: 128px;
  z-index: 1;
}

#ohmt-icon-cocktail {
  transform: rotate(0deg);
  top: 20%;
  right: 0%;
}
#ohmt-icon-spicy {
  transform: rotate(0deg);
  top: 0%;
  right: 18%;
}
#ohmt-icon-ice {
  transform: rotate(0deg);
  top: 18%;
  left: 0%;
}
#ohmt-icon-toasts {
  transform: rotate(0deg);
  top: 0%;
  left: 22%;
}
#ohmt-icon-dog {
  transform: rotate(0deg);
  bottom: 16%;
  right: 0%;
}
#ohmt-icon-sugar {
  transform: rotate(0deg);
  bottom: 0%;
  right: 50%;
}
#ohmt-icon-shots {
  transform: rotate(0deg);
  bottom: 19%;
  left: 0%;
}

@media (max-width: 1200px) {
  .ohmt-icon {
    height: 96px;
  }
}