main {
  margin: 80px auto 80px auto;
}

h1 {
  font-size: 40px;
  margin: 40px 0 0;
}

.cv-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
}

.cv-container > section:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;

  .button-container {
    margin-top: auto;
  }
}

.cv-container > section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;

  p:not([class]) {
    margin: 0;
  }
}

.cv-photo {
  pointer-events: none;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

h2 {
  margin: 0;
  width: auto;
}

@media (max-width: 800px) {
  .cv-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cv-container > section:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;

    .button-container {
      margin-top: 0;
    }
  }

  .cv-container > section:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
  }
}
