.project-header {
  margin-top: 300px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  row-gap: 20px;
}

h1 {
  font-family: Morfin, Arial, sans-serif;
  color: #dd4625;
  font-size: 250px;
  font-weight: normal;
  line-height: 60%;
}

body {
  background: #221823;
  color: #f2f3f5;
  color: var(--white);
  overflow: hidden;
}

.morfin-demonstration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: morfin, Arial, sans-serif;
  color: #ece6c6;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.morfin-demonstration span {
  -webkit-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  vertical-align: baseline;
  font-size: 100%;
}

.morfin-demonstration span:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.morfin-demonstration .background-picture {
  -webkit-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-mask: radial-gradient(rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%);
  mask: radial-gradient(rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%);
}

.hlink {
  color: #ec9d22;
}

.hlink.white {
  color: #fff;
}

.hlink::after {
  background: #ec9d22;
}

.morfin-demonstration.prev {
  display: block;
  margin: 0;
  width: 100%;
}

.preview {
  font-family: Morfin, Arial, sans-serif;
  color: #dd4625;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  display: inline-block;
  line-height: 80%;
}

.preview:focus {
  outline: 0px solid transparent;
  border: none;
}

.morfin-demonstration span.preview:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 800px) {
  .morfin-demonstration {
    width: 100%;
  }

  .morfin-demonstration span {
    font-size: 100px;
  }

  .morfin-demonstration span.preview {
    width: 100%;
    font-size: 70px;
  }

  .morfin-demonstration .background-picture {
    width: 200vw;
  }

  h1 {
    font-size: 140px;
    max-width: 100%;
  }

  .project-header {
    margin-top: 120px;
  }
}
