@import url("base-items/fonts/fonts.css");
@import url("base-items/const.css");

@import url("base-items/button.css");
@import url("base-items/hlink.css");
@import url("base-items/footer.css");
@import url("base-items/pop-up.css");
@import url("base-items/tag.css");
@import url("base-items/two-columns.css");
@import url("base-items/items.css");
@import url("base-items/icons.css");
@import url("base-items/modifier.css");

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #231f20;
  color: var(--txt-color);
  background-color: #fff;
  background-color: var(--bg-color);
  font-family: Noah, Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--gap-main);
  width: 80%;
  max-width: 1600px;
  min-height: 80vh;
  margin: 40px auto 80px auto;
}

span:not([class]) {
  font-size: var(--minor-font-size);
}

h1 {
  font-weight: bold;
  max-height: 100%;
  max-width: 100%;
  font-size: 112px;
  vertical-align: baseline;
  line-height: 1;
  margin: 40px auto 0;
  width: 80%;
}

h2 {
  font-size: 48px;
  line-height: 1;
}

h3 {
  font-size: 40px;
  line-height: 1;
}

p:not([class]) {
  font-size: var(--main-font-size);
}

.fun {
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

p:hover .fun {
  opacity: 100%;
}

strong {
  font-weight: bold;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    max-width: 100%;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
    line-height: 1;
  }

  h1,
  .paragraph {
    width: 100%;
  }

  .fun {
    display: none;
  }
}

/* Полоса прокрутки */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #00000000;
  background-color: transparent;
  background-color: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: #231f2066;
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

/* ::selection {
  background: var(--link-color);
  opacity: 10%;
}

::-moz-selection {
  background: var(--link-color);
  opacity: 10%;
} */
