.full-screen-header {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.with-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  overflow: hidden;
}

.full-screen-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110vw;
  height: 110vh;
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.full-screen-block {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-in-full-screen {
  margin: 80px auto 80px auto;
}