.link-block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-section);
}

.link-block:not([href]) {
  opacity: 30%;
  pointer-events: none;
}

.link-block {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: var(--gap-element);
  column-gap: var(--gap-large-element);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  align-items: center;
  height: fit-content;
  transition: var(--transition-quick);
}

.link-block > p {
  grid-column: 2;
}

.link-block:hover {
  background-color: var(--bg-accent-color);
}

@media (max-width: 1200px) {
  .link-block-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .link-block-grid {
    grid-template-columns: 1fr;
  }

  .link-block {
    grid-template-columns: 1fr;
  }

  .link-block > p {
    grid-column: 1;
  }
}
