.link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-section);
}

.link-block:not([href]) {
  opacity: 30%;
  pointer-events: none;
}

.link-block {
  display: flex;
  gap: var(--gap-large-element);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  align-items: flex-start;
  height: fit-content;
  transition: var(--transition-quick);
  color: var(--txt-color);
}

.link-block:hover {
  background-color: var(--bg-accent-color);
}

.link-block.center-vertical {
  align-items: center;
}

@media (max-width: 1200px) {
  .link-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .link-grid {
    grid-template-columns: 1fr;
  }

  .link-block {
    flex-direction: column;
  }
}
