.poster-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gap-block);
  row-gap: var(--gap-section);
}

.poster :is(img, video) {
  aspect-ratio: 1;
  background-color: #f2f3f5;
  background-color: var(--bg-accent-color);
  width: 100%;
  object-fit: cover;
}

.poster-container.with-one-columns {
  grid-template-columns: 1fr;
}

.poster-container.s1x1 .poster :is(img, video) {
  aspect-ratio: 1;
}

.poster-container.a4 .poster :is(img, video) {
  aspect-ratio: 3 / 4;
}

.poster-container.s16x9 .poster :is(img, video) {
  aspect-ratio: 16 / 9;
}

.poster.s1x1 :is(img, video) {
  aspect-ratio: 1;
}

.poster.a4 :is(img, video) {
  aspect-ratio: 3 / 4;
}

.poster.s16x9 :is(img, video) {
  aspect-ratio: 16 / 9;
}

@media (max-width: 800px) {
  .poster-container {
    grid-template-columns: 1fr;
  }
}