.poster-demonstration-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap-block) 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: var(--gap-block);
  -moz-column-gap: var(--gap-block);
  column-gap: var(--gap-block);
  row-gap: var(--gap-section);
}

.poster-demonstration img {
  aspect-ratio: 1;
  background-color: #f2f3f5;
  background-color: var(--bg-accent-color);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;

  -webkit-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.poster-demonstration img:hover {
  border-radius: var(--border-radius);
}

.poster-demonstration-container.s1x1 .poster-demonstration img {
  aspect-ratio: 1;
}

.poster-demonstration-container.a4 .poster-demonstration img {
  aspect-ratio: 3 / 4;
}

.poster-demonstration-container.s16x9 .poster-demonstration img {
  aspect-ratio: 16 / 9;
}

.poster-demonstration.s1x1 img {
  aspect-ratio: 1;
}

.poster-demonstration.a4 img {
  aspect-ratio: 3 / 4;
}

.poster-demonstration.s16x9 img {
  aspect-ratio: 16 / 9;
}

@media (max-width: 800px) {
  .poster-demonstration-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}