@import url(projects-items/color-palette.css);
@import url(projects-items/img-dem.css);
@import url(projects-items/logo-dem.css);
@import url(projects-items/font-dem.css);
@import url(projects-items/sticky-footer.css);

.project-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;

  width: 80%;
  max-width: 1600px;
  column-gap: 80px;
  margin: 80px auto 0 auto;

  z-index: 30;
}

.project-header > div {
  display: grid;
  align-content: space-between;
  height: inherit;
  gap: var(--gap-element);
}

.project-header > div > *:last-child {
  margin-bottom: 30px;
}

.project-header > div > *:first-child {
  margin-top: 18px;
}

h1 {
  margin: 0;
  width: auto;
}

.project-footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-section);
  row-gap: var(--gap-block);
  margin: 0 var(--gap-element);
}

.project-footer :last-child {
  text-align: right;
  margin-left: auto;
}

@media (max-width: 800px) {
  .project-header .button-container {
    flex-wrap: wrap;
  }

  .project-header > div > *:last-child {
    margin-bottom: 0px;
  }
}
