.grid-container {
  display: grid;
  --columns: 6;
  --container-width: 80vw;
  --cell-size: calc((var(--container-width) - (var(--columns) - 1) * var(--gap-block)) / var(--columns));

  gap: var(--gap-block);
  max-width: 1920px;

  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-auto-rows: var(--cell-size);
}

.grid-container article {
  display: flex;
  flex-direction: column;
  
  transition: var(--transition-smooth);

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  background-color: var(--bg-accent-color);
  /* border: var(--border); */
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
}

.grid-container article:not(:has(p:not([class]))):hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px -10px var(--shadow-color);
}

.grid-container article > a {
  color: var(--white);
}

.grid-container article > a:nth-child(2),
.grid-container article.s1x1 > a:nth-child(1) {
  flex: 1;
}

.grid-container article > a:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: var(--gap-element);
  padding: var(--padding-medium);
  padding-bottom: 0;
  text-decoration: none;
}

.grid-container article p:not([class]) {
  flex: 1;
  text-overflow: ellipsis;
  margin: 0;
}

.grid-container article.paragraph {
  width: 100%;
  padding: var(--padding-medium);
  position: relative;
}

.grid-container article.paragraph object {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.grid-container article.s1x1 {
  grid-column: span 1;
  grid-row: span 1;

  a:nth-child(2) {
    display: none;
  }
}

.grid-container article.s2x1 {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-container article.s2x2 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-container article.s4x2 {
  grid-column: span 4;
  grid-row: span 2;
}

.grid-container article.s3x2 {
  grid-column: span 3;
  grid-row: span 2;
}

@media (min-width: 2000px) {
  .grid-container {
    --container-width: 1600px;
  }
}

@media (max-width: 1200px) {
  .grid-container {
    --columns: 4;
  }

  .grid-container article.s3x2 {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 800px) {
  .grid-container {
    --columns: 2;
  }

  .grid-container article.s3x2 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .grid-container article.s4x2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid-container article > a:nth-child(1) {
    display: none;
  }
}