@import url(projects-items/color-dem.css);
@import url(projects-items/color-palette.css);
@import url(projects-items/img-dem.css);
@import url(projects-items/logo-dem.css);
@import url(projects-items/font-dem.css);
@import url(projects-items/sticky-footer.css);

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: end;
  align-content: flex-end;

  width: 80%;
  max-width: 1600px;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  margin: 80px auto 0 auto;

  z-index: 30;
}

.project-header > div {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: inherit;
  gap: 12px;
}

.project-header > div > *:last-child {
  margin-bottom: 30px;
}

.project-header > div > *:first-child {
  margin-top: 18px;
}

h1 {
  margin: 0;
  width: auto;
}

.project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: var(--gap-section);
  -moz-column-gap: var(--gap-section);
  column-gap: var(--gap-section);
  row-gap: var(--gap-block);
  margin: 0 12px;
}

.project-footer :last-child {
  text-align: right;
  margin-left: auto;
}

@media (max-width: 800px) {
  .project-header .button-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .project-header > div > *:last-child {
    margin-bottom: 0px;
  }
}
