.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button {
  border-radius: 12px;
  padding: 12px 24px;
  -webkit-transition: all 0.3s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.3s cubic-bezier(0.75, 0.35, 0.4, 0.99);

  font-weight: bold;
  font-size: 20px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  --shadow-button-color: var(--shadow-color);
  color: #231f20;
  color: var(--txt-color);
  background-color: #f2f3f5;
  background-color: var(--bg-accent-color);

  -webkit-box-shadow: 0 0 0 0 var(#f2f3f599);
  box-shadow: 0 0 0 0 var(#f2f3f599);
  -webkit-box-shadow: 0 0 0 0 var(--shadow-button-color);
  box-shadow: 0 0 0 0 var(--shadow-button-color);
}

.button:not([href]) {
  opacity: 30%;
  pointer-events: none;
}

.button.white {
  color: #231f20;
  color: var(--black);
  background-color: #f2f3f5;
  background-color: var(--white);
  --shadow-button-color: var(--white-shadow);
}
.button.black {
  color: #f2f3f5;
  color: var(--white);
  background-color: #231f20;
  background-color: var(--black);
  --shadow-button-color: var(--black-shadow);
}
.button.colored {
  color: #f2f3f5;
  color: var(--white);
  background-color: #5646ff;
  background-color: var(--link-color);
  --shadow-button-color: var(--link-color);
}

.button:empty {
  height: 48px;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  --shadow-button-color: transparent;
}

.button-container.alpha .button {
  opacity: 60%;
}

.button.in-text {
  cursor: default;
  display: inline-block;
  height: 38px;
  vertical-align: sub;
  -webkit-box-shadow: 0 0 12px 0 var(--shadow-button-color);
  box-shadow: 0 0 12px 0 var(--shadow-button-color);
}

.button.tg {
  background-image: url(../../img/icons/logo-black/tg-logo.svg);
}
.button.vk {
  background-image: url(../../img/icons/logo-black/vk-logo.svg);
}
.button.yt {
  background-image: url(../../img/icons/logo-black/yt-logo.svg);
}
.button.fontesk {
  background-image: url(../../img/icons/logo-black/fontesk-logo.svg);
}
.button.fontstorage {
  background-image: url(../../img/icons/logo-black/fontstorage-logo.svg);
}
.button.myskotom {
  background-image: url(../../img/icons/logo-black/myskotom-logo.svg);
}
.button.fonts-online {
  background-image: url(../../img/icons/logo-black/fonts-online-logo.svg);
}

@media (prefers-color-scheme: dark) {
  .button.tg {
    background-image: url(../../img/icons/logo-white/tg-logo.svg);
  }
  .button.vk {
    background-image: url(../../img/icons/logo-white/vk-logo.svg);
  }
  .button.yt {
    background-image: url(../../img/icons/logo-white/yt-logo.svg);
  }
  .button.fontesk {
    background-image: url(../../img/icons/logo-white/fontesk-logo.svg);
  }
  .button.fontstorage {
    background-image: url(../../img/icons/logo-white/fontstorage-logo.svg);
  }
  .button.myskotom {
    background-image: url(../../img/icons/logo-white/myskotom-logo.svg);
  }
  .button.fonts-online {
    background-image: url(../../img/icons/logo-white/fonts-online-logo.svg);
  }
}

.button.tg.black {
  background-image: url(../../img/icons/logo-black/tg-logo.svg);
}
.button.vk.black {
  background-image: url(../../img/icons/logo-black/vk-logo.svg);
}
.button.yt.black {
  background-image: url(../../img/icons/logo-black/yt-logo.svg);
}
.button.fontesk.black {
  background-image: url(../../img/icons/logo-black/fontesk-logo.svg);
}
.button.fontstorage.black {
  background-image: url(../../img/icons/logo-black/fontstorage-logo.svg);
}
.button.myskotom.black {
  background-image: url(../../img/icons/logo-black/myskotom-logo.svg);
}
.button.fonts-online.black {
  background-image: url(../../img/icons/logo-black/fonts-online-logo.svg);
}

.button.tg.white {
  background-image: url(../../img/icons/logo-white/tg-logo.svg);
}
.button.vk.white {
  background-image: url(../../img/icons/logo-white/vk-logo.svg);
}
.button.yt.white {
  background-image: url(../../img/icons/logo-white/yt-logo.svg);
}
.button.fontesk.white {
  background-image: url(../../img/icons/logo-white/fontesk-logo.svg);
}
.button.fontstorage.white {
  background-image: url(../../img/icons/logo-white/fontstorage-logo.svg);
}
.button.myskotom.white {
  background-image: url(../../img/icons/logo-white/myskotom-logo.svg);
}
.button.fonts-online.white {
  background-image: url(../../img/icons/logo-white/fonts-online-logo.svg);
}

.button.tg.colored {
  --shadow-button-color: rgba(40, 168, 232, 0.3);
  background-image: url(../../img/icons/logo-colored/tg-logo.svg);
}
.button.vk.colored {
  --shadow-button-color: rgba(0, 119, 255, 0.3);
  background-image: url(../../img/icons/logo-colored/vk-logo.svg);
}
.button.yt.colored {
  --shadow-button-color: rgba(255, 0, 0, 0.3);
  background-image: url(../../img/icons/logo-colored/yt-logo.svg);
}
.button.fontesk.colored {
  --shadow-button-color: rgba(1, 148, 255, 0.3);
  background-image: url(../../img/icons/logo-colored/fontesk-logo.svg);
}
.button.fontstorage.colored {
  --shadow-button-color: rgba(3, 125, 202, 0.3);
  background-image: url(../../img/icons/logo-colored/fontstorage-logo.svg);
}
.button.myskotom.colored {
  --shadow-button-color: rgba(35, 31, 32, 0.3);
  background-image: url(../../img/icons/logo-colored/myskotom-logo.svg);
}
.button.fonts-online.colored {
  --shadow-button-color: rgba(35, 31, 32, 0.3);
  background-image: url(../../img/icons/logo-colored/fonts-online-logo.svg);
}

.button.ae {
  --shadow-button-color: rgba(34, 0, 79, 0.302);
  background-image: url(../../img/icons/program/ae.svg);
}
.button.ai {
  --shadow-button-color: rgba(51, 0, 0, 0.302);
  background-image: url(../../img/icons/program/ai.svg);
}
.button.au {
  --shadow-button-color: rgba(0, 38, 32, 0.302);
  background-image: url(../../img/icons/program/au.svg);
}
.button.pr {
  --shadow-button-color: rgba(55, 0, 68, 0.302);
  background-image: url(../../img/icons/program/pr.svg);
}
.button.ps {
  --shadow-button-color: rgba(0, 0, 38, 0.302);
  background-image: url(../../img/icons/program/ps.svg);
}
.button.git {
  --shadow-button-color: rgba(240, 60, 46, 0.302);
  background-image: url(../../img/icons/program/git.svg);
}
.button.python {
  --shadow-button-color: rgba(56, 116, 166, 0.302);
  background-image: url(../../img/icons/program/python.svg);
}
.button.fontlab {
  --shadow-button-color: rgba(15, 33, 51, 0.302);
  background-image: url(../../img/icons/program/fontlab.svg);
}

.button.mail {
  background-image: url(../../img/icons/mail-fill.svg);
}

.button:hover:not(.in-text):not(:active) {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0px 6px 12px -6px var(--shadow-button-color);
  box-shadow: 0px 6px 12px -6px var(--shadow-button-color);
  opacity: 100%;
}

.button:empty:hover:not(.in-text):not(:active) {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.button:active {
  -webkit-transition: all 0.1s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -o-transition: all 0.1s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transition: all 0.1s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
