:root {
  /* Цвета Неизменяемые */
  --highlight-o-color: #ff6433;
  --highlight-r-color: #ff4267;
  --highlight-p-color: #9943e2;
  --highlight-g-color: #1bcec4;
  --highlight-b-color: #5646ff;
  --highlight-y-color: #ff9e33;
  --highlight-d-color: #414271;

  --black: #231f20;
  --black-trans10: #231f201a;
  --black-trans30: #231f204d;
  --black-trans60: #231f2099;
  --black-bg: #191717;
  --black-draw-color: #2b2628;

  --white: #f2f3f5;
  --white-trans10: #f2f3f51a;
  --white-trans30: #f2f3f54d;
  --white-trans60: #f2f3f599;
  --white-bg: #fff;
  --white-draw-color: #d7dbe5;

  --scrollbar-bg-color: transparent;

  /* Цвета Изменяемые */
  --bg-color: var(--white-bg);
  --bg-accent-color: var(--white);
  --bg-accent-invert-color: var(--black);
  --draw-color: var(--white-draw-color);

  --txt-color: var(--black);

  --border-color: var(--black-trans10);
  --shadow-color: var(--white-trans60);
  --poster-bg-color: var(--white-trans30);
  --scrollbar-color: #231f2066;
  --link-color: var(--highlight-b-color); /* JS */

  /* Отступы */
  --gap-main: 80px;
  --gap-main: 120px;
  --gap-section: 40px;
  --gap-block: 20px;
  --gap-element: 12px;
  --gap-detail: 6px;

  --border-radius: 20px;
  
  /* Кегли */
  --main-font-size: 32px;
  --minor-font-size: 20px;
}

svg {
  --draft-color: var(--black);
  --draft-invert-color: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black-bg);
    --bg-accent-color: var(--black);
    --bg-accent-invert-color: var(--white);
    --draw-color: var(--black-draw-color);

    --txt-color: var(--white);

    --border-color: var(--white-trans10);
    --shadow-color: var(--black-trans60);
    --poster-bg-color: var(--black-trans30);
    --scrollbar-color: #f1f2f41a;
  }

  svg {
    --draft-color: var(--white);
    --draft-invert-color: var(--black);
  }
}


@media (max-width: 800px) {
  :root  {
    --main-font-size: 24px;
    --minor-font-size: 16px;
  }
}
