.icon-container {
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 10;
  flex-wrap: wrap;
}

.icon {
  height: 16px;
  width: 16px;
  aspect-ratio: 1;
  pointer-events: none;
}

.icon.small {
  height: 16px;
  width: 16px;
}

.icon.medium {
  height: 32px;
  width: 32px;
}

.icon.large {
  height: 48px;
  width: 48px;
}

.icon.small.with-rounding {
  border-radius: 12px;
}

.icon.medium.with-rounding {
  border-radius: 8px;
}

.icon.large.with-rounding {
  border-radius: 4px;
}

.icon.in-text {
  vertical-align: middle;
  display: inline-block;
}
