.block,
.section,
.element,
.paragraph,
.description
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.block {
  gap: var(--gap-block);
}

.section {
  gap: var(--gap-section);
}

.element,
.paragraph,
.description {
  gap: var(--gap-element);
}


.paragraph {
  width: 80%;
  margin: 0 auto;
}

.description {
  margin: 0 12px;
}
