.block,
.section,
.element,
.paragraph,
.description
{
  display: flex;
  flex-direction: column;
}


.block {
  gap: var(--gap-block);
}

.section {
  gap: var(--gap-section);
}

.element,
.paragraph,
.description {
  gap: var(--gap-element);
}

.handwrite {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

:is(.block,
    .section,
    .element,
    .paragraph,
    .description).vertical {
  flex-direction: row;
}

.paragraph {
  width: 80%;
  margin: 0 auto;
}

.description {
  margin: 0 12px;
}

@media (max-width: 800px) {
  .paragraph {
    width: 100%;
  }
}