.with-fill {
  background-color: #f2f3f5;
  background-color: var(--bg-accent-color);
  border: 1px solid #231f20;
  border: 1px solid var(--border-color); 
  padding: var(--gap-block);
}

.with-border-radius {
  border-radius: var(--border-radius);
}

.center {
  text-align: center;
}

.minor {
  font-size: 20px;
  font-weight: normal;
  opacity: 60%;
}

.white {
  color: #f2f3f5;
  color: var(--white);
}

.black {
  color: #231f20;
  color: var(--black);
}

.no-break {
  white-space: nowrap;
  vertical-align: baseline;
}