/* Пример заполнения для фона */
.with-fill {
  background-color: var(--bg-accent-color);
  border: var(--border-width) solid var(--border-color);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
}

.with-rounding {
  border-radius: var(--border-radius);
}

/* Пример заполнения для переходов */
.with-transition {
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.center {
  text-align: center;
}

.center-vertical {
  margin: auto 0;
}

.minor {
  font-size: var(--minor-font-size);
  font-weight: normal;
  opacity: 60%;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.no-break {
  white-space: nowrap;
  vertical-align: baseline;
}

.glass {
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  backdrop-filter: blur(20px);
  border: var(--border-width) solid var(--border-color);
}

.glass.white {
  border: var(--border-width) solid var(--white-border-color);
}

.glass.black {
  border: var(--border-width) solid var(--black-border-color);
}

.noise {
  background-image: url(../../img/textures/noise.svg);
  background-repeat: repeat;
  background-size: 256px 256px;
}


@media (max-width: 800px) {
  .visible-in-desktop {
    display: none;
  }
}

@media (min-width: 800px) {
  .visible-in-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .visible-in-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .visible-in-light {
    display: none;
  }
}