.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section);
}

.element {
  display: flex;
  flex-direction: column;
  gap: var(--gap-element);
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: var(--gap-element);
  width: 80%;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-element);
  margin: 0 12px;
}
