.pop-up-container {
  position: fixed;
  bottom: 25px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  grid-gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 24px 12px 18px;
  border-radius: 24px;
  background-color: #231f20;
  background-color: var(--black);
  box-sizing: content-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  pointer-events: none;

  opacity: 0;
  -webkit-transform: translateY(150%);
  -ms-transform: translateY(150%);
  transform: translateY(150%);
  -webkit-animation: appearance 3s ease-in forwards;
  animation: appearance 3s ease-in forwards;
}

.pop-up span {
  color: #f2f3f5;
  color: var(--white);
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
}

.pop-up img {
  height: 32px;
}

@-webkit-keyframes appearance {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    opacity: 0;
    height: 0;
  }
  3% {
    height: 24px;
  }
  7% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 24px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes appearance {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    opacity: 0;
    height: 0;
  }
  3% {
    height: 24px;
  }
  7% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 24px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
