.tag-container {
  display: flex;
  gap: var(--gap-element);
  flex-wrap: wrap;
}

.tag {
  padding: 6px 12px;
  border-radius: 10px;
  border: var(--border);
  backdrop-filter: blur(20px);
}

.tag.white {
  border-color: var(--white-border-color);
}

.tag.black {
  border-color: var(--black-border-color);
}