.two-columns {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--gap-section);
}

.four-columns {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--gap-section);
}

.two-columns img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .two-columns {
    grid-template-columns: 1fr;
  }

  .four-columns {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}