.full-screen-header {
  position: relative;
}

.manrope-font {
  font-family: Manrope, Arial, sans-serif;
}

.mesh-gradient {
    background-color:hsla(324,100%,42%,1);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110vw;
    height: 110vh;
    pointer-events: none;
    z-index: -1;
    filter: blur(30px) brightness(1.2);
    transform: translate(-50%, -50%);
}

.point-gradient1 {
  animation: move1 linear; animation-timeline: scroll(root);
}

.point-gradient2 {
  animation: move2 linear; animation-timeline: scroll(root);
}

@keyframes move1 {
  from { 
    transform: translate(0, 0); 
  }
  to { 
    transform: translate(500px, 0px); 
  }
}
@keyframes move2 {
  from { 
    transform: translate(0, 0); 
  }
  to { 
    transform: translate(-500px, 0px); 
  } 
}
